.minus-btn,
.plus-btn,
.add-to-cart-btn {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px; /* Adjust the spacing between buttons */
}
/* Style for the '-' button in inventory */
.minus-btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
  }
  
  /* Style for the '+' button in inventory */
  .plus-btn {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
  }
  
  /* Style for the "add to cart" button in inventory */
  .add-to-cart-btn {
    background-color: rgb(58, 133, 198);
    color: white;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 30px;
  }
  
  /* Style for the "delete" button in the cart */
  .delete-btn {
    background-color: rgb(58, 133, 198);
    color: white;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
  }
  
  /* Additional styles for the layout */
  
  body {
    font-family: 'Times New Roman', Times, serif;
  }
  
  #app {
    display: flex;
    justify-content:center;
    align-items: flex-start;
    margin-top: 10px;
  }
  
  .inventory-container,
  .cart-container {
    width: 20%;
    padding: 20px;
  }
  
  .inventory-container h1,
  .cart-container h1 {
    text-align: center;
  }
  
  .inventory-container ul,
  .cart-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .inventory-container li,
  .cart-container li {
    margin-bottom: 10px;
    background-color: rgb(244, 240, 205);
    display: flex;
    align-items: center;
    padding: 8px 35px;
    border-radius: 5px;
    height: 30px;
  }
  
  .inventory-container li button,
  .cart-container li button {
    margin-left: auto;
  }
  
  .amount {
    margin: 10px;
  }
  
  .checkout-btn {
    background-color: black;
    color: white;
    top: 300px;
    width: 335px;
    height: 50px;
    border-radius: 5px;
    border: none;
    position: fixed;
  }
  
  h1 {
    text-align: center;
  }
  